<% include partials/_header %>

<div class="user-container">

  <h2>Register A New Account</h2>

  <form class="user-validation-form register-form" action="/register?_method=PUT" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
  </form>

  <% if (nameTaken === true) { %>

    <p class="error-message">This username is already taken!</p>

  <% } %>

</div>