.nav-bar {
  padding: 0 2em;
  height: 80px;
  background: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav > img.logo {
  height: 80px;
  width: 80px;
  float: left;
}

nav > span.header {
  display: inline-block;
  float: left;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
}

nav .nav-button {
  height: 60px;
  width: 110px;
  font-size: 18px;
  margin: 10px 5px;
  float: right;
  border-radius: 5px;
  border: solid black 1px;
  background: rgba(255, 255, 255, 0.85);
  color: rgb(0, 159, 134);
}

nav .nav-button:hover {
  color: black;
  background: white;
  cursor: pointer;
}